body{
	background-color: #4082ae;
	padding:20px;
	font-family: Arial, sans-serif;
	color:#fff;
}
@font-face {
	font-family: 'Glyphicons Halflings';

	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.glyphicon-remove:before {
	content: "\e014";
}
h1, h2, h3{
	color:#fff;
	font-family: "Lato", Arial, sans-serif;
}
h1{
	font-size: 3em;
	margin:0 5px;
}
h2{
	font-size: 2em;
	margin:0 5px;
}
#container{
	width:960px;
	margin: 0 auto;
	margin-top: 80px;
}
@media screen and (max-width: 960px) {
  #container {
    width:100%;
  }
}
#container header h2{
	margin:0;
}
#header{
	margin-bottom: 20px;
}
#new-todo{
	margin-top: 20px;
	border:none;
	border-bottom: 2px solid #458CBB;
	width:100%;
	background-color: transparent;
	text-overflow:ellipsis;
	font-weight: bold;
	font-size: 1.5em;
	color:#fff;
	padding:0 0 10px;
	outline:0;
}
#main .toggle, #toggle-all{
	margin:0 30px 0 0;
	height:20px;
	width:20px;
}
#todo-list{
	padding:0;
}
#todo-list li{
	display: none;
	font-family: "Lato", Arial, sans-serif;
	font-size: 2.2em;
	list-style-type: none;
	margin-bottom: 10px;
}
#todo-list li label{
	word-break: break-word;
	color:#373948;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}
#todo-list li.completed label{
	text-decoration: line-through;
	color:#414355;
}
.view{
	position:relative;
}
.list{
	position:relative;
}
.edit{
	font-family: "Lato", Arial, sans-serif;
	display: none;
	position:absolute;
	top:-3px;
	left:50px;
	width:300px;
	border: none;
	font-size: 1em;
	background: transparent;
	color:#373948;
	outline:0;
}
.notice{
	font-weight: bold;
	margin-top: 20px;
	color:#222;
}
.btn{
	font-family: "Lato", Arial, sans-serif;
	background: transparent;
	border: 3px solid #fff;
	color: #fff;
	padding: 10px;
	font-size: .8em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition:color 1s;
    transition:color 1s;
    margin: 0;
}
.btn:hover{
	background: #fff;
	color:#4082ae;
}
.destroy{
	float: right;
	top: 10px;
	cursor: pointer;
}
#footer{
	margin-top: 40px;
}